<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <verify_account>
                <email_template>customer_verify_account_email_template</email_template>
            </verify_account>
        </customer>
    </default>
</config>
