<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <gmo_payment>
                <title>Credit Card (GMO Payment Gateway)</title>
                <active>0</active>
                <model>GmoPaymentFacade</model>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_sale>1</can_sale>
                <can_void>0</can_void>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <cctypes>AE,VI,MC,JCB,DN</cctypes>
                <sort_order>0</sort_order>
            </gmo_payment>
        </payment>
    </default>
</config>
