<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="gmo_payment" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GMO Payment</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_base_uri" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Api Base Uri</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Bap\GmoPayment\Model\Config\Source\PaymentAction</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="verify_3dsecure" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>3D Secure Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="shop_id" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shop ID</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="shop_password" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shop Password</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="site_id" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Site ID</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="site_password" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Site Password</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="td_tenant_name" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tenant Name</label>
                    <depends>
                        <field id="active">1</field>
                        <field id="verify_3dsecure">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
